.feed {
  display: block !important;
  align-items: center;
  margin-left: 50px;
  background-color: white;
  width: 550px;
  height: 100px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-evenly !important;
}

.feed_post {
  display: flex;
}
.post_input {
  outline: none;
  border: none;
  background: none;
  width: 400px;
  height: 0px;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 50px;
  background-color: #eef3f8;
}
.postTools {
  display: flex !important;
}
.postButton {
  display: none;
}
